.compare-bikes {
  &__products {
    row-gap: 40px;

    @include pageGrid;
  }

  &__product {
    grid-column: 1 / -1;
    padding: 24px;
    border-radius: 24px;
    background-color: transparent;
    transition: all 0.4s ease;

    @include onTable {
      grid-column: 2/ 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }

    &:hover {
      transform: translateY(-8px);
      background-color: rgb(255 255 255 / 3%);
      box-shadow: 0 12px 24px rgb(0 0 0 / 40%);

      .product__photo {
        transform: scale(1.05);
      }
    }
  }
}
