.compare-bikes {
  &__products {
    row-gap: 40px;

    @include pageGrid;
  }

  &__product {
    grid-column: 1 / -1;

    @include onTable {
      grid-column: 2/ 6;
    }

    @include onDesktop {
      grid-column: span 4;
    }

    &:hover {
      transition-duration: 300ms;
      transform: scale(106%);
      box-shadow: 1px 4px 16px 0 #e8e8f02b;
    }
  }

  @include addGap(92px, 120px, 144px);
}
