.main {
  position: relative;
  z-index: 1;
  background-color: #1d1d1d;
  padding: 60px 0 120px;

  @include onTable {
    padding-top: 120px;
    padding-bottom: 102px;
  }

  @include onDesktop {
    padding-bottom: 164px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: 88px;

    @include onTable {
      row-gap: 120px;
    }

    @include onDesktop {
      row-gap: 160px;
    }
  }
}
